body{
  background-color:beige;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    font-size: 100px;
    margin: 100px;
    
}

img{
    width: 500px;
    height: 300px;
}

p{
    margin: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
